<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->
<form action="#" th:action="@{/auth/login}" th:object="${signInRequest}" method="post">
    <div><label> User Name : <input type="text"  th:field="*{nameUser}" name="username"/> </label></div>
    <div><label> Password: <input type="password"  th:field="*{password}" name="password"/> </label></div>
    <div><input type="submit"  class="btn btn-info col-2"/></div>
</form>
</body>
</html>